.checkout-resume {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    width: 50%;
    padding: 35px;
    box-sizing: border-box;
    flex-direction: column;
}

.payment-pix-content{
    background-color: #fff;
    padding: 20px;
}

@media (max-width: 768px) {
    .checkout-resume {
        width: 100%;
        padding: 20px;
        border-left: none;
        border-right: none;
    }
}

@media (max-width: 480px) {
    .checkout-resume {
        padding: 15px;
    }
}

.card-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-circle {
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #ddd;
    color: black;
    border-radius: 50%;
}

.icon-quad{
    width: 25px;
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #ddd;
    color: black;
    border-radius: 8px;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.product-summary {
    border: solid 1px #ddd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background: #fbfdff;
    gap: 10px;
    margin-bottom: 15px;
    /* Espaçamento entre os produtos no mobile */
}

.product-img {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 59px;
    height: 79px;
    object-fit: cover;
}

.totals div {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.totals label {
    font-size: 14px;
}

.totals b {
    font-size: 16px;
}

.loader {
    border: 3px solid #f3f3f3;
    /* Light grey */
    border-top: 3px solid transparent;
    /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.resume-user-info {
    border: solid 1px #ddd;
    border-radius: 8px;
    background: #fbfdff;
}


.dot-typing {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #FFF;
    color: #FFF;
    box-shadow: 9984px 0 0 0 #FFF, 9999px 0 0 0 #FFF, 10014px 0 0 0 #FFF;
    animation: dot-typing 1.5s infinite linear;
  }
  
  @keyframes dot-typing {
    0% {
      box-shadow: 9984px 0 0 0 #FFF, 9999px 0 0 0 #FFF, 10014px 0 0 0 #FFF;
    }
    16.667% {
      box-shadow: 9984px -10px 0 0 #FFF, 9999px 0 0 0 #FFF, 10014px 0 0 0 #FFF;
    }
    33.333% {
      box-shadow: 9984px 0 0 0 #FFF, 9999px 0 0 0 #FFF, 10014px 0 0 0 #FFF;
    }
    50% {
      box-shadow: 9984px 0 0 0 #FFF, 9999px -10px 0 0 #FFF, 10014px 0 0 0 #FFF;
    }
    66.667% {
      box-shadow: 9984px 0 0 0 #FFF, 9999px 0 0 0 #FFF, 10014px 0 0 0 #FFF;
    }
    83.333% {
      box-shadow: 9984px 0 0 0 #FFF, 9999px 0 0 0 #FFF, 10014px -10px 0 0 #FFF;
    }
    100% {
      box-shadow: 9984px 0 0 0 #FFF, 9999px 0 0 0 #FFF, 10014px 0 0 0 #FFF;
    }
  }

@keyframes l3 {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%
    }

    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%
    }

    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%
    }

    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%
    }
}

@media (min-width:320px) {
    .checkout-all {
        display: block;
    }

    .checkout-left {}

    .checkout-button {
        width: 100%;
    }

    .checkout-resume {
        margin-bottom: 20px;
    }
}

@media (min-width:481px) {
    .checkout-all {
        display: block;
    }

    .checkout-left {}

    .checkout-button {
        width: 100%;
    }

    .checkout-resume {
        margin-bottom: 20px;
    }
}

@media (min-width:641px) {
    .checkout-all {
        display: flex;
        justify-content: 'center';
        gap: '20px';
    }

    .checkout-left {
        margin-right: 20px;
    }

    .checkout-button {
        width: 200px;
    }

    .checkout-resume {
        margin-bottom: 0px;
    }
}

@media (min-width: 961px) {
    .checkout-all {
        display: flex;
        justify-content: center;
        gap: 20px;
        min-height: calc(100vh - 367px);
        /* Garante que ocupe toda a altura da tela */
    }

    .checkout-left {
        margin-right: 20px;
    }

    .checkout-button {
        width: 200px;
    }

    .checkout-resume {
        margin-bottom: 0;
    }
}

@media (min-width: 1025px) {
    .checkout-all {
        display: flex;
        justify-content: center;
        gap: 20px;
        min-height: calc(100vh - 367px);
        /* Garante que ocupe toda a altura da tela */
    }

    .checkout-left {
        margin-right: 20px;
    }

    .checkout-button {
        width: 200px;
    }

    .checkout-resume {
        margin-bottom: 0;
    }
}

@media (min-width: 1281px) {
    .checkout-all {
        display: flex;
        justify-content: center;
        gap: 20px;
        min-height: calc(100vh - 367px);
        /* Garante que ocupe toda a altura da tela */
    }

    .checkout-left {
        margin-right: 20px;
    }

    .checkout-button {
        width: 200px;
    }

    .checkout-resume {
        margin-bottom: 0;
    }
}