footer {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-content {
    width: 100%;
    max-width: 1120px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.footer-column h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.accordion-header ion-icon {
    font-size: 18px;
    color: #555;
}

.accordion-content {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 5px;
    flex-direction: column;
}

.accordion-content.open {
    display: flex;
}

.footer-column a {
    text-decoration: none;
    color: #333;
}

.payment-icons img {
    width: 40px;
    height: auto;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #eaeaea;
    padding-top: 10px;
}

.footer-bottom span {
    font-size: 14px;
    color: #555;
}

.footer-bottom img {
    width: 50px;
    height: auto;
}

.scroll-to-top {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
}

.scroll-to-top ion-icon {
    font-size: 24px;
}

/* Responsivo */
@media (max-width: 768px) {
    .footer-content {
        align-items: center;
    }

    .accordion-header {
        display: flex;
    }

    .accordion-content {
        width: 100%;
    }
}
