.header {
    position: fixed;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: saturate(180%) blur(13px);
    z-index: 50;
}

.header-parceiro{
    position: fixed;
    display: flex;
    -webkit-box-pack: start;
    justify-content: start;
    -webkit-box-align: start;
    align-items: center;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 50;
}

.header-content-parceiro{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content{
    width: 100%;
    max-width: 1120px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-group{
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.menu-toggle{
    align-items: center;
    justify-content: center;
}

.menu-toggle-icon{
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: .2s;
    color: var(--text-opacity);
}

.menu-toggle-icon:hover{
    transition: .2s;
}

.hader-mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: calc(100vh + 80px);
    background-color: #fff;
    z-index: 9999;
}

.button-group-mobile{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.button-group-mobile button {
    margin-bottom: 10px;
    height: 55px;
    display: flex;
    justify-content: start;
    background-color: rgb(237, 237, 241) !important;
    color: var(--text-opacity);
    font-weight: bold;
}

.button-group-mobile button:hover {
    background-color: rgb(223, 223, 223) !important;
}

@media (min-width:320px) {
    .header-logo{
        width: 60px;
    }
    .header {
        height: 60px;
    }
    .header-parceiro{
        height: 60px;
    }
    .menu-toggle{
        display: flex;
    }
    .button-group{
        display: none;
    }
    .hader-mobile-menu{
        display: block;
        margin-top: 60px;
    }
}

@media (min-width:481px) {
    .header-logo{
        width: 60px;
    }
    .header {
        height: 60px;
    }
    .header-parceiro{
        height: 60px;
    }
    .menu-toggle{
        display: flex;
    }
    .button-group{
        display: none;
    }
    .hader-mobile-menu{
        display: block;
        margin-top: 60px;
    }
}

@media (min-width:641px) {
    .header-logo{
        width: 60px;
    }
    .header {
        height: 60px;
    }
    .header-parceiro{
        height: 60px;
    }
    .menu-toggle{
        display: flex;
    }
    .button-group{
        display: none;
    }
    .hader-mobile-menu{
        display: block;
        margin-top: 60px;
    }
}

@media (min-width:961px) {
    .header-logo{
        width: 100px;
    }
    .header {
        height: 80px;
    }
    .header-parceiro{
        height: 80px;
    }
    .menu-toggle{
        display: none;
    }
    .button-group{
        display: flex;
    }
    .hader-mobile-menu{
        display: none;
        margin-top: 80px;
    }
}

@media (min-width:1025px) {
    .header-logo{
        width: 100px;
    }
    .header {
        height: 80px;
    }
    .header-parceiro{
        height: 80px;
    }
    .menu-toggle{
        display: none;
    }
    .button-group{
        display: flex;
    }
    .hader-mobile-menu{
        display: none;
        margin-top: 80px;
    }
}

@media (min-width:1281px) {
    .header-logo{
        width: 100px;
    }
    .header {
        height: 80px;
    }
    .header-parceiro{
        height: 80px;
    }
    .menu-toggle{
        display: none;
    }
    .button-group{
        display: flex;
    }
    .hader-mobile-menu{
        display: none;
        margin-top: 80px;
    }
}