:root {
    --primary-color: #22c55e;
    --primary-color-hover: #4ae984;
    --text-opacity: gray;
    --fill-green: #86efacb3;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.max-w-7xl {
    max-width: 80rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}


.button-primary-color {
    background-color: var(--primary-color);
    transition: filter 180ms, background 180ms, border-color 180ms, opacity 180ms ease-in-out;
}

.button-primary-color:hover {
    background-color: var(--primary-color-hover);
    transition: filter 180ms, background 180ms, border-color 180ms, opacity 180ms ease-in-out;
}

.text-primary {
    color: var(--primary-color);
}

.text-slate-900 {
    --tw-text-opacity: 1;
    color: rgb(15 23 42 / var(--text-opacity));
}

.tracking-tight {
    letter-spacing: -.025em;
}

.font-medium {
    font-weight: 500;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.font-display {
    font-family: Lexend, sans-serif;
}

.max-w-4xl {
    max-width: 56rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

.text-green-400 {
    --text-opacity: 1;
    color: rgb(74 222 128 / var(--text-opacity));
}

.whitespace-nowrap {
    white-space: nowrap;
}

.relative {
    position: relative;
}

.fill-green-300\/70 {
    fill: var(--fill-green);
}

.w-full {
    width: 100%;
}

.h-\[0\.58em\] {
    height: .58em;
}

.top-2\/3 {
    top: 66.666667%;
}

.left-0 {
    left: 0;
}

.absolute {
    position: absolute;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

@media (min-width:320px) {
    .\32xs\:text-\[2\.5rem\] {
        font-size: 2.5rem;
    }
}

@media (min-width:480px) {
    .\32xs\:text-\[2\.5rem\] {
        font-size: 2.5rem;
    }
}

@media (min-width:600px) {
    .\32xs\:text-\[2\.5rem\] {
        font-size: 2.5rem;
    }
}

@media (min-width:801px) {
    .\32xs\:text-\[2\.5rem\] {
        font-size: 3.5rem;
    }
}

@media (min-width:1025px) {
    .\32xs\:text-\[2\.5rem\] {
        font-size: 3.5rem;
    }
}

@media (min-width:1281px) {
    .\32xs\:text-\[2\.5rem\] {
        font-size: 3.5rem;
    }
}